In [1]:
import pandas as pd
import matplotlib.pyplot as plt

### Client_Information.csv: data providing additional information for the customers.

In [2]:
data = pd.read_csv ('../../assignment_datasets/Client_Information.csv')
data.columns = pd.Series (data.columns).astype (str).apply (lambda x : x.lower ()).values
data = data.dropna (axis = 1, how = 'all')

In [3]:
# One entry per customer

data.shape

(16347, 289)

In [4]:
data.dropna (axis = 0, how = 'any').shape

(16347, 289)

In [5]:
data_types = data.set_index ('UID').dtypes.reset_index ()

In [6]:
data_types.columns = ['variable', 'type']

In [7]:
for c in data_types [data_types.type == 'O'].variable.values:
    print (c)
    print (data [c].drop_duplicates ())

F_23
0        D
1        1
3        U
10       0
24       2
99       6
140      4
177      3
395      5
1303    ND
Name: F_23, dtype: object
F_24
0        D
1        1
3        U
10       0
24       2
99       6
140      4
177      3
395      5
1303    ND
Name: F_24, dtype: object
F_25
0        D
1        1
3        U
10       0
24       2
99       6
140      4
177      3
395      5
1303    ND
Name: F_25, dtype: object
F_26
0        D
1        1
3        U
18       0
24       2
70       3
99       6
140      4
395      5
1303    ND
Name: F_26, dtype: object
F_27
0        D
1        1
3        U
24       2
57       0
70       3
99       6
140      4
395      5
1303    ND
Name: F_27, dtype: object
F_28
0        D
1        1
3        U
22       2
57       0
70       3
99       6
140      4
395      5
1303    ND
Name: F_28, dtype: object
F_43
0      0
1      1
4      U
15     D
47     4
69     3
77     5
95     6
139    2
706    ?
Name: F_43, dtype: object
F_44
0        U
1        1
2        0
13       D
47       4
69       3
77       5
95       6
139      2
706      ?
1402    ND
Name: F_44, dtype: object
F_114
0       D
1       1
3       U
24      2
33      0
99      6
140     4
395     5
1017    3
Name: F_114, dtype: object
F_115
0        D
1        1
3        U
10       0
24       2
99       6
140      4
177      3
395      5
1303    ND
Name: F_115, dtype: object
F_116
0        D
1        1
3        U
10       0
24       2
99       6
140      4
177      3
395      5
1303    ND
Name: F_116, dtype: object
F_117
0      D
1      1
3      U
24     2
57     0
99     6
140    4
177    3
395    5
Name: F_117, dtype: object
F_118
0      D
1      1
3      U
22     2
43     3
57     0
99     6
140    4
395    5
Name: F_118, dtype: object
F_119
0       D
1       1
3       U
24      2
33      0
99      6
140     4
395     5
1622    3
Name: F_119, dtype: object
F_120
0        D
1        1
3        U
10       0
24       2
99       6
140      4
394      3
395      5
1303    ND
Name: F_120, dtype: object
F_121
0        D
1        1
3        U
10       0
24       2
140      4
382      6
394      3
395      5
1303    ND
Name: F_121, dtype: object
F_122
0        D
1        1
3        U
10       0
24       2
140      4
177      3
382      6
395      5
1303    ND
Name: F_122, dtype: object
F_125
0       D
1       1
2      ND
5       U
7       0
29      3
49      5
62      6
65      4
140     2
Name: F_125, dtype: object
F_126
0       D
1       1
2      ND
3       0
5       U
49      5
62      6
65      4
69      3
139     2
Name: F_126, dtype: object
F_127
0       D
1       1
2      ND
3       0
5       U
29      3
49      5
62      6
65      4
139     2
Name: F_127, dtype: object
F_128
0       D
1       1
2      ND
3       0
5       U
28      6
69      3
139     2
140     4
395     5
Name: F_128, dtype: object
F_129
0       D
1       1
2      ND
3       0
5       U
28      6
29      3
134     2
140     4
395     5
Name: F_129, dtype: object
F_130
0       D
1       1
2      ND
3       0
5       U
28      6
29      3
134     2
140     4
395     5
Name: F_130, dtype: object
F_143
0        D
1        1
3        U
10       0
24       2
99       6
140      4
394      3
395      5
1303    ND
Name: F_143, dtype: object
F_149
0      ND
8       3
11      0
27      1
37      6
65      D
101     U
197     4
269     2
425     5
Name: F_149, dtype: object
F_150
0      ND
8       3
27      1
37      6
65      D
99      U
197     4
269     2
320     0
425     5
Name: F_150, dtype: object
F_151
0      ND
8       3
27      1
37      6
65      D
99      U
197     4
269     2
320     0
425     5
Name: F_151, dtype: object
F_152
0       ND
8        3
27       1
37       6
65       D
101      U
197      4
269      2
425      5
1060     0
Name: F_152, dtype: object
F_153
0        ND
8         3
27        1
37        6
65        D
99        0
101       U
197       4
269       2
425       5
11660     ?
Name: F_153, dtype: object
F_154
0        D
1        1
3        U
10       0
24       2
99       6
140      4
394      3
395      5
1303    ND
Name: F_154, dtype: object
F_173
0       ND
69       2
99       3
197      0
313      U
547      1
2113     5
3027     4
4360     6
Name: F_173, dtype: object
F_174
0       ND
69       2
99       3
197      0
313      U
547      1
1284     6
2113     5
3402     4
Name: F_174, dtype: object
F_175
0       ND
99       U
197      1
514      3
608      2
829      0
1591     4
2250     5
Name: F_175, dtype: object
F_183
0         D
1         0
6        ND
28        6
49        5
75        U
140       4
146       1
463       2
557       3
10690     ?
Name: F_183, dtype: object
F_184
0       D
1       0
6      ND
12      U
28      6
49      5
89      1
140     4
463     2
497     3
Name: F_184, dtype: object
F_185
0       D
1       0
6      ND
12      U
28      6
49      5
89      1
140     4
146     2
497     3
Name: F_185, dtype: object
F_186
0         D
1         1
3         U
4         0
8        ND
13        5
24        2
47        4
159       3
646       6
10641     ?
Name: F_186, dtype: object
F_187
0       D
1       1
3       U
4       0
8      ND
13      5
24      2
47      4
159     3
646     6
Name: F_187, dtype: object
F_188
0       D
1       1
3       U
4       0
8      ND
13      5
24      2
47      4
159     3
646     6
Name: F_188, dtype: object
F_189
0        ND
1         0
63        D
68        6
72        4
107       5
111       2
693       3
854       1
1320      U
15077     ?
Name: F_189, dtype: object
F_190
0      ND
1       0
30      U
63      D
68      6
72      4
97      5
111     2
442     3
443     1
Name: F_190, dtype: object
F_191
0      ND
1       0
2       1
30      U
63      D
68      6
72      4
97      5
111     2
693     3
Name: F_191, dtype: object
F_192
0    ND
Name: F_192, dtype: object
F_193
0       0
6       U
7       D
15      3
31     ND
79      2
111     1
342     6
409     5
474     4
Name: F_193, dtype: object
F_194
0       1
1       0
6       U
7       D
15      3
31     ND
79      2
247     5
342     6
474     4
Name: F_194, dtype: object
F_195
0       1
1       0
6       U
7       D
15      3
31     ND
42      5
79      2
342     6
474     4
Name: F_195, dtype: object
F_196
0      ND
8       3
27      1
37      6
65      D
99      U
197     4
269     2
425     5
829     0
Name: F_196, dtype: object
F_197
0       0
1       1
2      ND
5       U
40      D
47      5
62      6
65      4
69      3
139     2
Name: F_197, dtype: object
F_198
0       D
1       1
2      ND
3       0
5       U
27      2
28      6
29      3
65      4
395     5
Name: F_198, dtype: object
F_202
0      D
1      1
2      0
3      U
8      3
13     5
24     2
28     6
65     4
90    ND
Name: F_202, dtype: object
F_203
0       D
1       1
3       U
24      2
57      0
69      6
70      3
72      4
97      5
186    ND
Name: F_203, dtype: object
F_204
0       D
1       1
2       0
3       U
8       3
24      2
31      6
60      5
65      4
186    ND
Name: F_204, dtype: object
F_205
0       D
1       1
3       U
4       0
8       3
24      2
37      6
72      4
97      5
372    ND
Name: F_205, dtype: object
F_206
0        D
1        1
3        U
24       2
29       3
34       0
69       6
70       4
97       5
1303    ND
Name: F_206, dtype: object
F_217
0       ND
8        U
13       D
16       1
68       0
274      3
284      4
690      6
1340     2
3250     5
Name: F_217, dtype: object
F_218
0       ND
13       D
40       1
130      U
136      2
187      6
284      4
608      3
758      0
3250     5
Name: F_218, dtype: object
F_219
0       ND
13       D
40       1
130      U
136      2
187      6
284      4
608      3
758      0
3250     5
Name: F_219, dtype: object
F_278
0    ND
Name: F_278, dtype: object
F_279
0    ND
Name: F_279, dtype: object
F_280
0    ND
Name: F_280, dtype: object
F_281
0    ND
Name: F_281, dtype: object

In [8]:
#anonymised data . . . how great!

data.columns.values

array(['UID', 'F_1', 'F_3', 'F_4', 'F_5', 'F_6', 'F_7', 'F_8', 'F_9',
       'F_10', 'F_11', 'F_12', 'F_13', 'F_14', 'F_15', 'F_16', 'F_17',
       'F_18', 'F_19', 'F_20', 'F_21', 'F_22', 'F_23', 'F_24', 'F_25',
       'F_26', 'F_27', 'F_28', 'F_29', 'F_30', 'F_31', 'F_32', 'F_33',
       'F_34', 'F_35', 'F_36', 'F_37', 'F_38', 'F_39', 'F_40', 'F_41',
       'F_42', 'F_43', 'F_44', 'F_45', 'F_46', 'F_47', 'F_48', 'F_49',
       'F_50', 'F_51', 'F_52', 'F_53', 'F_54', 'F_55', 'F_56', 'F_57',
       'F_58', 'F_59', 'F_60', 'F_61', 'F_62', 'F_63', 'F_64', 'F_65',
       'F_66', 'F_67', 'F_68', 'F_69', 'F_70', 'F_71', 'F_72', 'F_73',
       'F_74', 'F_75', 'F_76', 'F_77', 'F_78', 'F_79', 'F_80', 'F_81',
       'F_82', 'F_83', 'F_84', 'F_85', 'F_86', 'F_87', 'F_88', 'F_89',
       'F_90', 'F_91', 'F_92', 'F_93', 'F_94', 'F_95', 'F_96', 'F_97',
       'F_98', 'F_99', 'F_100', 'F_101', 'F_102', 'F_103', 'F_104',
       'F_105', 'F_106', 'F_107', 'F_108', 'F_109', 'F_110', 'F_111',
       'F_112', 'F_113', 'F_114', 'F_115', 'F_116', 'F_117', 'F_118',
       'F_119', 'F_120', 'F_121', 'F_122', 'F_123', 'F_124', 'F_125',
       'F_126', 'F_127', 'F_128', 'F_129', 'F_130', 'F_131', 'F_132',
       'F_133', 'F_134', 'F_135', 'F_136', 'F_137', 'F_138', 'F_139',
       'F_140', 'F_141', 'F_142', 'F_143', 'F_144', 'F_145', 'F_146',
       'F_147', 'F_148', 'F_149', 'F_150', 'F_151', 'F_152', 'F_153',
       'F_154', 'F_155', 'F_156', 'F_157', 'F_158', 'F_159', 'F_160',
       'F_161', 'F_162', 'F_163', 'F_164', 'F_165', 'F_166', 'F_167',
       'F_168', 'F_169', 'F_170', 'F_171', 'F_172', 'F_173', 'F_174',
       'F_175', 'F_176', 'F_177', 'F_178', 'F_179', 'F_180', 'F_181',
       'F_182', 'F_183', 'F_184', 'F_185', 'F_186', 'F_187', 'F_188',
       'F_189', 'F_190', 'F_191', 'F_192', 'F_193', 'F_194', 'F_195',
       'F_196', 'F_197', 'F_198', 'F_199', 'F_200', 'F_201', 'F_202',
       'F_203', 'F_204', 'F_205', 'F_206', 'F_207', 'F_208', 'F_209',
       'F_210', 'F_211', 'F_212', 'F_213', 'F_214', 'F_215', 'F_216',
       'F_217', 'F_218', 'F_219', 'F_220', 'F_221', 'F_222', 'F_223',
       'F_224', 'F_225', 'F_226', 'F_227', 'F_228', 'F_229', 'F_230',
       'F_231', 'F_232', 'F_233', 'F_234', 'F_235', 'F_236', 'F_237',
       'F_238', 'F_239', 'F_240', 'F_241', 'F_242', 'F_243', 'F_244',
       'F_245', 'F_246', 'F_247', 'F_248', 'F_249', 'F_250', 'F_251',
       'F_252', 'F_253', 'F_254', 'F_255', 'F_256', 'F_257', 'F_258',
       'F_259', 'F_260', 'F_261', 'F_262', 'F_263', 'F_264', 'F_265',
       'F_266', 'F_267', 'F_268', 'F_269', 'F_270', 'F_271', 'F_272',
       'F_273', 'F_274', 'F_275', 'F_276', 'F_277', 'F_278', 'F_279',
       'F_280', 'F_281', 'F_282', 'F_283', 'F_284', 'F_285', 'F_286',
       'F_287', 'F_288', 'F_289'], dtype=object)

In [9]:
data.head ()

,UID,F_1,F_3,F_4,F_5,F_6,F_7,F_8,F_9,F_10,...,F_280,F_281,F_282,F_283,F_284,F_285,F_286,F_287,F_288,F_289
0,a2166667-0cc1-4f1d-89da-974446920301,565.0,102.0,116.0,104.0,0.0,603.0,102.0,116.0,104.0,...,ND,ND,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0
1,d1def6ea-4557-4629-aeef-89a384889d68,657.0,101.0,0.0,0.0,0.0,680.0,101.0,0.0,0.0,...,ND,ND,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0
2,29d200c0-97cd-452b-b9f1-bcd940ba059a,605.0,102.0,203.0,0.0,0.0,636.0,102.0,203.0,0.0,...,ND,ND,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0
3,a21f04c5-ab93-48b3-8bfc-868f84aa7a09,679.0,506.0,104.0,0.0,0.0,722.0,506.0,104.0,0.0,...,ND,ND,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0
4,2ed6bbc9-980a-4686-a585-aef5e2655ac2,586.0,102.0,104.0,112.0,0.0,614.0,102.0,104.0,112.0,...,ND,ND,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0

In [10]:
for c in data.columns.values :
    if len (data [c].value_counts ()) == 1:
        data.drop (c, axis = 1, inplace = True)

In [11]:
data.shape

(16347, 251)

In [12]:
#no duplicate IDs

duplicated_id = data ['UID'].value_counts ()
duplicated_id [duplicated_id > 1]

Series([], Name: UID, dtype: int64)

## Binary variables

In [13]:
for c in data.columns.values :
    if len (data [c].value_counts ()) == 2:
        print (c)

F_30
F_131
F_132
F_133
F_134
F_139
F_140