In [1]:
import pandas as pd
import matplotlib.pyplot as plt

### Default_Data.csv: data describing defaulters and no defaulters (i.e., good/bad customers).

 - UID - customer ID
 - Recordnumber - customerâ€™s loan id
 - Dval - default value
 - Dmon - month on books when default was registered

In [2]:
data = pd.read_csv ('../../assignment_datasets/Default_Data.csv')
data.columns = pd.Series (data.columns).astype (str).apply (lambda x : x.lower ()).values

In [3]:
data.shape

(20000, 4)

In [4]:
data.columns

Index(['uid', 'recordnumber', 'dval', 'dmon'], dtype='object')

In [5]:
data.head ()

                                    uid  recordnumber    dval  dmon
0  2a08b1c1-504b-4178-8c3f-942aa09c7732             8    70.0   6.0
1  039b68a8-0953-484f-a14a-0e1e78ef7794             7   999.0   5.0
2  225b6f92-6c66-45c1-bb82-7ed89aad9619             8  7859.0  27.0
3  d10af710-591d-458e-b81f-85fb99d9c5a8             9  2739.0   9.0
4  6457c750-e7c0-4309-9ca3-8dd2ddbabbc0             8     NaN   NaN

In [6]:
len (data [data.dval.isna ()])

10000

In [7]:
len (data [data.dmon.isna ()])

10000

In [8]:
# Bene, everyone is represented but not everyone defaults
# We can see that 50:50 ratio spoken of in the description

data.uid.drop_duplicates ().shape

(16347,)

In [9]:
# For now, a simple yes/no on default data for any loan

default = data [['uid', 'dval']]
default ['number_of_defaults'] = default.dval.apply (lambda x : 1 if x > 0 else 0)
default = default [['uid', 'number_of_defaults']]

default = default.groupby ('uid').number_of_defaults.sum ().reset_index ()

/var/folders/4t/nm_5yvhx1zzgv15xvftc30s40000gn/T/ipykernel_91848/846288136.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  default ['number_of_defaults'] = default.dval.apply (lambda x : 1 if x > 0 else 0)

In [10]:
# A chap defaulted 8 times . . . o.O

default.default.max ()

AttributeError: 'DataFrame' object has no attribute 'default'

In [ ]:
default ['default'] = default.number_of_defaults.apply (lambda x : 1 if x > 0 else 0)

In [ ]:
default.to_csv ('../data/loan_default_indicator.csv', index = False)