In [1]:
import pandas as pd
import matplotlib.pyplot as plt

### Client_Information.csv: data providing additional information for the customers.

In [2]:
data = pd.read_csv ('../../assignment_datasets/Client_Information.csv')
data.columns = pd.Series (data.columns).astype (str).apply (lambda x : x.lower ()).values
data = data.dropna (axis = 1, how = 'all')

In [3]:
# One entry per customer

data.shape

(16347, 289)

In [4]:
data.dropna (axis = 0, how = 'any').shape

(16347, 289)

In [5]:
data_types = data.set_index ('uid').dtypes.reset_index ()

In [6]:
data_types.columns = ['variable', 'type']

In [14]:
for c in data_types [data_types.type == 'O'].variable.values:
    print (c)
    print (data [c].value_counts ())

In [9]:
# F_1 is the client's score . . . certainly important!

data.head ()

,UID,F_1,F_3,F_4,F_5,F_6,F_7,F_8,F_9,F_10,...,F_280,F_281,F_282,F_283,F_284,F_285,F_286,F_287,F_288,F_289
0,a2166667-0cc1-4f1d-89da-974446920301,565.0,102.0,116.0,104.0,0.0,603.0,102.0,116.0,104.0,...,ND,ND,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0
1,d1def6ea-4557-4629-aeef-89a384889d68,657.0,101.0,0.0,0.0,0.0,680.0,101.0,0.0,0.0,...,ND,ND,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0
2,29d200c0-97cd-452b-b9f1-bcd940ba059a,605.0,102.0,203.0,0.0,0.0,636.0,102.0,203.0,0.0,...,ND,ND,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0
3,a21f04c5-ab93-48b3-8bfc-868f84aa7a09,679.0,506.0,104.0,0.0,0.0,722.0,506.0,104.0,0.0,...,ND,ND,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0
4,2ed6bbc9-980a-4686-a585-aef5e2655ac2,586.0,102.0,104.0,112.0,0.0,614.0,102.0,104.0,112.0,...,ND,ND,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0

In [10]:
for c in data.columns.values :
    if len (data [c].value_counts ()) == 1:
        data.drop (c, axis = 1, inplace = True)

In [11]:
data.shape

(16347, 251)

In [12]:
#no duplicate IDs

duplicated_id = data ['uid'].value_counts ()
duplicated_id [duplicated_id > 1]

Series([], Name: UID, dtype: int64)

## Categorical variables (probably)

In [18]:
for c in data.columns.values :
    if (len (data [c].value_counts ()) == 10) & (data [c].dtype == float):
        print (c)

F_168