In [1]:
import pandas as pd
import matplotlib.pyplot as plt

### Default_Data.csv: data describing defaulters and no defaulters (i.e., good/bad customers).

In [2]:
data = pd.read_csv ('../../assignment_datasets/Client_Bureau_Information.csv')

In [3]:
data.columns

Index(['UID', 'SCORE', 'CLASS'], dtype='object')

In [4]:
data.head ()

                                    UID  SCORE     CLASS
0  440ba427-f46a-41d7-bf6d-5b5b1eb3cc26  524.0  STANDARD
1  8d5f1532-453d-4cce-9ae6-23a06affa479  601.0  STANDARD
2  59ade0ad-460f-49d6-9b3d-359610bee8dd  507.0  STANDARD
3  73252b25-3564-4b73-a27e-a08c2a5e882b  519.0   PREMIUM
4  c85f7e49-61da-42d1-bcf9-ae68c3af7ac8  567.0   PREMIUM