In [1]:
import pandas as pd
import matplotlib.pyplot as plt

### Loan_Information.csv: data providing information related to loans.

 - UID - customer ID
 - Recordnumber - customerâ€™s loan id
 - Openbalance - loan opening balance
 - Accstartdate - account opening date
 - First_month - month when customer first logged into online servicing
 - Last_month - month when customer last logged into online servicing
 - Repayperiod - original loan term
 - Searchdate - date when customer data was uploaded to the database

In [2]:
data = pd.read_csv ('../../assignment_datasets/Loan_Information.csv')

In [3]:
data.columns

Index(['UID', 'RECORDNUMBER', 'OPENBALANCE', 'ACCSTARTDATE', 'FIRST_MONTH',
       'LAST_MONTH', 'REPAYPERIOD', 'SEARCHDATE'],
      dtype='object')

In [4]:
data.head ()

,UID,RECORDNUMBER,OPENBALANCE,ACCSTARTDATE,FIRST_MONTH,LAST_MONTH,REPAYPERIOD,SEARCHDATE
0,784c964e-d3e1-4dd3-af6c-4288c4b37d27,1,600.0,2014-09-29,2014-10-01,2016-07-01,24.0,20181011
1,fc30d99d-106a-44bf-bc33-9a95f0d2d258,6,500.0,2014-01-24,2014-02-01,2014-07-01,6.0,20180524
2,fc30d99d-106a-44bf-bc33-9a95f0d2d258,9,1149.0,2013-10-18,2013-11-01,2018-05-01,NaN,20180524
3,fc30d99d-106a-44bf-bc33-9a95f0d2d258,14,446.0,2015-07-01,2015-08-01,2015-12-01,5.0,20180524
4,89761744-b42f-43cd-bd3c-5c363c44671a,1,1492.0,2014-10-06,2014-11-01,2015-11-01,13.0,20190924

In [7]:
# Potential feature? Number of entries per id?

duplicated_id = data ['UID'].value_counts ()
duplicated_id [duplicated_id > 1]

3770221c-d4a7-4491-b29d-023000825a48    14
ed90d6fc-5c8d-4ba2-96e6-de1cc700d930    14
0964fa82-d6e7-471b-bb7e-2e73c4e2ca6a    14
22f86e77-2a0d-4615-bbe4-d90bfb4c2c7b    14
351f06a0-807e-4383-b2f3-4f90b9894ff6    14
                                        ..
567cc10e-b44a-471e-8d16-053f2fe2be9d     2
5b9c9540-f818-4c86-8271-1d4d68a5e48d     2
0cd74003-dbc7-4606-abf1-c5dac11085f2     2
13c31b61-d9ba-416c-9588-db8fffa1855e     2
18867270-271e-4982-a617-f9366482a425     2
Name: UID, Length: 13013, dtype: int64

In [9]:
# same number of IDs as other data sets

data.UID.drop_duplicates ().shape

(16347,)