In [1]:
import pandas as pd
import matplotlib.pyplot as plt

### Client_Information.csv: data providing additional information for the customers.

In [20]:
data = pd.read_csv ('../../assignment_datasets/Client_Information.csv')
data = data.dropna (axis = 1, how = 'all')

In [21]:
data.shape

(16347, 289)

In [23]:
data.dropna (axis = 0, how = 'any').shape

(16347, 289)

In [22]:
data.dtypes.values

array([dtype('O'), dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('O'), dtype('O'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('float64'),
       dtype('float64'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('O'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'), dtype('O'),
       dtype('O'), dtype('O'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'), dtype('O'),
       dtype('O'), dtype('O'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64'),
       dtype('float64'), dtype('float64'), dtype('float64')], dtype=object)

In [8]:
#anonymised data . . . how great!

data.columns.values

array(['UID', 'F_1', 'F_2', 'F_3', 'F_4', 'F_5', 'F_6', 'F_7', 'F_8',
       'F_9', 'F_10', 'F_11', 'F_12', 'F_13', 'F_14', 'F_15', 'F_16',
       'F_17', 'F_18', 'F_19', 'F_20', 'F_21', 'F_22', 'F_23', 'F_24',
       'F_25', 'F_26', 'F_27', 'F_28', 'F_29', 'F_30', 'F_31', 'F_32',
       'F_33', 'F_34', 'F_35', 'F_36', 'F_37', 'F_38', 'F_39', 'F_40',
       'F_41', 'F_42', 'F_43', 'F_44', 'F_45', 'F_46', 'F_47', 'F_48',
       'F_49', 'F_50', 'F_51', 'F_52', 'F_53', 'F_54', 'F_55', 'F_56',
       'F_57', 'F_58', 'F_59', 'F_60', 'F_61', 'F_62', 'F_63', 'F_64',
       'F_65', 'F_66', 'F_67', 'F_68', 'F_69', 'F_70', 'F_71', 'F_72',
       'F_73', 'F_74', 'F_75', 'F_76', 'F_77', 'F_78', 'F_79', 'F_80',
       'F_81', 'F_82', 'F_83', 'F_84', 'F_85', 'F_86', 'F_87', 'F_88',
       'F_89', 'F_90', 'F_91', 'F_92', 'F_93', 'F_94', 'F_95', 'F_96',
       'F_97', 'F_98', 'F_99', 'F_100', 'F_101', 'F_102', 'F_103',
       'F_104', 'F_105', 'F_106', 'F_107', 'F_108', 'F_109', 'F_110',
       'F_111', 'F_112', 'F_113', 'F_114', 'F_115', 'F_116', 'F_117',
       'F_118', 'F_119', 'F_120', 'F_121', 'F_122', 'F_123', 'F_124',
       'F_125', 'F_126', 'F_127', 'F_128', 'F_129', 'F_130', 'F_131',
       'F_132', 'F_133', 'F_134', 'F_135', 'F_136', 'F_137', 'F_138',
       'F_139', 'F_140', 'F_141', 'F_142', 'F_143', 'F_144', 'F_145',
       'F_146', 'F_147', 'F_148', 'F_149', 'F_150', 'F_151', 'F_152',
       'F_153', 'F_154', 'F_155', 'F_156', 'F_157', 'F_158', 'F_159',
       'F_160', 'F_161', 'F_162', 'F_163', 'F_164', 'F_165', 'F_166',
       'F_167', 'F_168', 'F_169', 'F_170', 'F_171', 'F_172', 'F_173',
       'F_174', 'F_175', 'F_176', 'F_177', 'F_178', 'F_179', 'F_180',
       'F_181', 'F_182', 'F_183', 'F_184', 'F_185', 'F_186', 'F_187',
       'F_188', 'F_189', 'F_190', 'F_191', 'F_192', 'F_193', 'F_194',
       'F_195', 'F_196', 'F_197', 'F_198', 'F_199', 'F_200', 'F_201',
       'F_202', 'F_203', 'F_204', 'F_205', 'F_206', 'F_207', 'F_208',
       'F_209', 'F_210', 'F_211', 'F_212', 'F_213', 'F_214', 'F_215',
       'F_216', 'F_217', 'F_218', 'F_219', 'F_220', 'F_221', 'F_222',
       'F_223', 'F_224', 'F_225', 'F_226', 'F_227', 'F_228', 'F_229',
       'F_230', 'F_231', 'F_232', 'F_233', 'F_234', 'F_235', 'F_236',
       'F_237', 'F_238', 'F_239', 'F_240', 'F_241', 'F_242', 'F_243',
       'F_244', 'F_245', 'F_246', 'F_247', 'F_248', 'F_249', 'F_250',
       'F_251', 'F_252', 'F_253', 'F_254', 'F_255', 'F_256', 'F_257',
       'F_258', 'F_259', 'F_260', 'F_261', 'F_262', 'F_263', 'F_264',
       'F_265', 'F_266', 'F_267', 'F_268', 'F_269', 'F_270', 'F_271',
       'F_272', 'F_273', 'F_274', 'F_275', 'F_276', 'F_277', 'F_278',
       'F_279', 'F_280', 'F_281', 'F_282', 'F_283', 'F_284', 'F_285',
       'F_286', 'F_287', 'F_288', 'F_289'], dtype=object)

In [24]:
data.head ()

,UID,F_1,F_3,F_4,F_5,F_6,F_7,F_8,F_9,F_10,...,F_280,F_281,F_282,F_283,F_284,F_285,F_286,F_287,F_288,F_289
0,a2166667-0cc1-4f1d-89da-974446920301,565.0,102.0,116.0,104.0,0.0,603.0,102.0,116.0,104.0,...,ND,ND,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0
1,d1def6ea-4557-4629-aeef-89a384889d68,657.0,101.0,0.0,0.0,0.0,680.0,101.0,0.0,0.0,...,ND,ND,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0
2,29d200c0-97cd-452b-b9f1-bcd940ba059a,605.0,102.0,203.0,0.0,0.0,636.0,102.0,203.0,0.0,...,ND,ND,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0
3,a21f04c5-ab93-48b3-8bfc-868f84aa7a09,679.0,506.0,104.0,0.0,0.0,722.0,506.0,104.0,0.0,...,ND,ND,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0
4,2ed6bbc9-980a-4686-a585-aef5e2655ac2,586.0,102.0,104.0,112.0,0.0,614.0,102.0,104.0,112.0,...,ND,ND,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0,-999997.0

In [43]:
for c in data.columns.values :
    if len (data [c].value_counts ()) == 1:
        data.drop (c, axis = 1, inplace = True)

In [44]:
data.shape

(16347, 251)

In [11]:
#no duplicate IDs

duplicated_id = data ['UID'].value_counts ()
duplicated_id [duplicated_id > 1]

Series([], Name: UID, dtype: int64)

## Binary variables

In [60]:
for c in data.columns.values :
    if len (data [c].value_counts ()) == 2:
        print (c)

F_30
F_131
F_132
F_133
F_134
F_139
F_140