In [1]:
import pandas as pd
import matplotlib.pyplot as plt

### Default_Data.csv: data describing defaulters and no defaulters (i.e., good/bad customers).

 - UID - customer ID
 - Recordnumber - customerâ€™s loan id
 - Dval - default value
 - Dmon - month on books when default was registered

In [2]:
data = pd.read_csv ('../../assignment_datasets/Default_Data.csv')

In [3]:
data.columns

Index(['UID', 'RECORDNUMBER', 'DVAL', 'DMON'], dtype='object')

In [4]:
data.head ()

                                    UID  RECORDNUMBER    DVAL  DMON
0  2a08b1c1-504b-4178-8c3f-942aa09c7732             8    70.0   6.0
1  039b68a8-0953-484f-a14a-0e1e78ef7794             7   999.0   5.0
2  225b6f92-6c66-45c1-bb82-7ed89aad9619             8  7859.0  27.0
3  d10af710-591d-458e-b81f-85fb99d9c5a8             9  2739.0   9.0
4  6457c750-e7c0-4309-9ca3-8dd2ddbabbc0             8     NaN   NaN

In [7]:
# Hmmmm, this will need some understanding

duplicated_id = data ['UID'].value_counts ()
duplicated_id [duplicated_id > 1]

cd7b2744-9dab-43c5-b4a1-559eb8f0a0e7    8
307b32da-0f1f-4bbe-a6df-8c0ebeaeb582    8
cff91982-1a28-4fdd-86b7-291ef92d18d6    7
3daaf15a-ca86-48c1-a4cc-36d0901e9633    7
9238a835-df43-449e-801e-0ba4b6ec6cb6    7
                                       ..
9a7299a9-63bc-4509-8b10-babc16eb8e5a    2
3a5d7413-f5f8-4dac-be92-5fc5c8aea6f6    2
541b0328-26c9-4dc1-8cd4-fd326fb69955    2
ee5ef3a9-b7ff-4843-918d-44e32e0f7bee    2
9207065a-2d6f-4264-b52a-14fb43418d9d    2
Name: UID, Length: 2663, dtype: int64